nav{
    background-color:red
}

ul{list-style:none;
text-align: center;}

li{display: inline-block;
padding: 10px;}

a{color: white;
text-decoration: none;
border-bottom:2px solid green;
}

a:hover{color:black;}